
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Assets</h1>

            </div>
            <div class="panel-body">
                <table id="assets-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>Bar Code</th>
                            <th>Manufacturer</th>
                            <th>Model Number</th>
                            <th>Building</th>
                            <th>Room No</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var asset in Model)
                        {
                            <tr>
                                <td>@asset.Barcode</td>
                                <td>@asset.Manufacturer</td>
                                <td>@asset.ModelNumber</td>
                                <td>@asset.Building</td>
                                <td>@asset.RoomNo</td>
                                <td>@asset.Quantity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="createAssetModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createAssetContainer">
    </div>
</div>

<div class="modal fade" id="editAssetModal" tabindex="-1" role="dialog" aria-labelledby="EditAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="editAssetContainer">
    </div>
</div>

<div class="modal fade" id="detailsAssetModal" tabindex="-1" role="dialog" aria-labelledby="DetailsAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsAssetContainer">
    </div>
</div>

<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="DeleteAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteAssetContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#assets-data-table').DataTable();

            "columns":[
                { "title": "Bar Code", "data": "BarCode", "searchable": true },
                { "title": "Manufacturer", "data": "Manufacturer", "searchable": true },
                { "title": "Model", "data": "ModelNumber", "searchable": true },
                { "title": "Building", "data": "Building", "searchable": true },
                { "title": "Room No", "data": "RoomNo" },
                { "title": "Quantity", "data": "Quantity" },
                {
                    "title": "Actions",
                    "data": "AssetID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        return '<a href="@Url.Action("Edit","Asset")?id=' + data + '" class="editAsset">Edit</a> | <a href="@Url.Action("Details","Asset")?id=' + data + '">Details</a> | <a href="@Url.Action("Delete","Asset")?id=' + data + '">Delete</a>';
                    }
              }
            ],
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                } 

       
                 
        // Advanced Search Modal Search button click handler
        $('#btnPerformAdvancedSearch').on("click", assetListVM.refresh);

        // initialize the datatables
        assetListVM.init();


            $("#btnCreateAsset").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createAssetContainer').html(data);

                    $('#createAssetModal').modal('show');
                });

            });
            function CreateAssetSuccess(data) {

                if (data != "success") {
                    $('#createAssetContainer').html(data);
                    return;
                }
                $('#createAssetModal').modal('hide');
                $('#createAssetContainer').html("");
                assetListVM.refresh();

            }



          
            /**** Edit Asset Ajax Form CallBack ********/

            function UpdateAssetSuccess(data) {

                if (data != "success") {
                    $('#editAssetContainer').html(data);
                    return;
                }
                $('#editAssetModal').modal('hide');
                $('#editAssetContainer').html("");
                assetListVM.refresh();

            }

            $('#assets-data-table').on("click", ".detailsAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#detailsAssetContainer').html(data);

                    $('#detailsAssetModal').modal('show');
                });

                $('#assets-data-table').on("click", ".deleteAsset", function (event) {

                    event.preventDefault();

                    var url = $(this).attr("href");

                    $.get(url, function (data) {
                        $('#deleteAssetContainer').html(data);

                        $('#deleteAssetModal').modal('show');
                    });

                });

                function DeleteAssetSuccess(data) {

                    if (data != "success") {
                        $('#deleteAssetContainer').html(data);
                        return;
                    }
                    $('#deleteAssetModal').modal('hide');
                    $('#deleteAssetContainer').html("");
                    assetListVM.refresh();

                }

                $('#assets-data-table').on("click", ".editAsset", function (event) {

                    event.preventDefault();

                    var url = $(this).attr("href");

                    $.get(url, function (data) {
                        $('#editAssetContainer').html(data);

                        $('#editAssetModal').modal('show');
                    });

                });

            });
            
    </script>
}